{% extends "Core/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="public/css/news.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="news">
        <!-- Page Heading -->
        <h1 class="text-center">
            {{ data.news.title }}
        </h1>
        
        <!-- Page content -->
        <div class="row">
            {% for item in data.news.items %}
                <div class="col-sm-6 col-lg-4 news-data">
                    <figure class="card item">
                        <a href="#"><img class="card-img-top" src="{{ item.image.src }}" srcset="{{ item.image.srcset }}" alt=""></a>
                        <figcaption class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ item.title }}</a>
                            </h4>
                            <p class="card-text">{{ item.description }}</p>
                        </figcaption>
                    </figure>
                    <ul class="nav bg-transparent border-white">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="public/images/btn-likes.svg" alt="">
                                <span class="align-icon text-muted"><span>{{ item.count_likes }}</span> likes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link comments" href="#">
                                <img src="public/images/btn-comments.svg" alt="">
                                <span class="align-icon text-muted"><span>{{ item.count_comments }}</span> comments</span>
                            </a>
                        </li>
                    </ul>
                    <div class="comment-data">
                        <div><strong>{{ item.comments.author }}</strong></div>
                        <time>{{ item.comments.published_date }}</time>
                        <p>{{ item.comments.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary">Load more</button>
    </section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="public/js/news.js" type="text/javascript"></script>
{% endblock %}